recursive-include hbp_knowledge *.py
recursive-include hbp_knowledge *.bel
recursive-include hbp_knowledge *.bel.json

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle *.pickle

include *.rst *.txt *.yml LICENSE tox.ini .flake8 doc8.ini .coveragerc
exclude .travis.yml
