recursive-include hbp_knowledge *.py
recursive-include hbp_knowledge *.bel.json

recursive-exclude hbp_knowledge *.bel
recursive-exclude hbp_knowledge *.bel.pickle
recursive-exclude hbp_knowledge *.bel.warnings.tsv
recursive-exclude hbp_knowledge *.bel.summary.tsv
recursive-exclude hbp_knowledge *.bel.summary.json

prune notebooks
prune docs

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle *.pickle

include LICENSE
exclude .travis.yml tox.ini .bumpversion.cfg
